 @media screen and (min-width:650px){
    .formNewImpresa{
        display:grid;
        gap:1rem;
        grid-template-areas:
        "   nome        nome         nome       contatto  contatto  contatto "
        "telContatto telContatto telContatto      email     email     email  "
        " otherCont   otherCont    otherCont  otherCont  otherCont  otherCont"
        "     .            .          .          .          .        submit  ";
     }

     .Nimpresa{
        grid-area: nome;
     }

     .Ncontact{
        grid-area: contatto;
     }

     .Tcontact{
        grid-area: telContatto;
     }

     .Cemail{
        grid-area: email;
     }

     .OTHcontacts{
        grid-area: otherCont;
     }
     .BTsubNewImpresa{
        grid-area: submit;
     }
 }
