<app-full>
  <mat-card class="cardWithShadow theme-card">
    <mat-card-header class="d-flex justify-content-between">
      <mat-card-title class="m-b-0">Modifica impresa appaltante</mat-card-title>
      <app-tasto-back></app-tasto-back>
    </mat-card-header>
    <mat-card-content class="b-t-1">
      <form
        class="formNewImpresa"
        [formGroup]="stazioneForm"
        (submit)="onSubmit($event)"
      >
        <!-- input nome impresa-->
        <div class="Nimpresa">
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Nome impresa</mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input [(ngModel)]="product.nome" formControlName="nome" matInput />
          </mat-form-field>
        </div>

        <!-- input contatto principale-->
        <div class="Ncontact">
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Nome contatto principale</mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input
              [(ngModel)]="product.nomeContatto"
              formControlName="nomeContatto"
              matInput
            />
          </mat-form-field>
        </div>

        <!-- input telefono contatto principale-->
        <div class="Tcontact">
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">
            Telefono conatto principale</mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input
              [(ngModel)]="product.contatto_Principale"
              formControlName="contattoPrincipale"
              matInput
            />
          </mat-form-field>
        </div>

        <!-- input email-->
        <div class="Cemail">
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Email</mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input
              [(ngModel)]="product.email"
              type="email"
              formControlName="email"
              matInput
            />
          </mat-form-field>
        </div>

        <!-- to-do  -->
        <app-to-do
          [todoMod]="product.altriContatti"
          class="OTHcontacts"
        ></app-to-do>

        <button
          class="BTsubNewImpresa"
          mat-flat-button
          color="primary"
          type="submit"
        >
          Salva
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</app-full>
