<app-full>

  <mat-card class="cardWithShadow theme-card">
    <mat-card-header class="d-flex justify-content-between">
      <mat-card-title class="m-b-0">Nuovo operaio</mat-card-title>
      <app-tasto-back></app-tasto-back>
    </mat-card-header>
    <mat-card-content class="b-t-1">
    <form
      #operai_form="ngForm"
      class="needs-validation"
      [formGroup]="operaiForm"
      (ngSubmit)="onSubmit($event)"
    >
      <div class="container">
        <!-- Prima parte del Form -->
        <div class="row row_1">
          <div class="col-sm-12 col-md-6 mt-sm-4">
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Nome e Cognome * </mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input
              [(ngModel)]="form.nome"
              formControlName="nome"
              matInput
            />
          </mat-form-field>
          <mat-label class="mat-subtitle-2 f-w-600 mt-4 m-b-8 d-block"
            >Agevolazione</mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input
              [(ngModel)]="form.agevolazione"
              formControlName="agevolazione"
              matInput
            />
          </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-6 mt-sm-4">
            <div class="row mb-4">
              <div class="col-6">
                <div class="INcontratto">
                  <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
                    >Tipo di contratto *</mat-label
                  >
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select
                      formControlName="contratto"
                    >
                      <mat-option
                        [value]="option"
                        *ngFor="let option of contratti"
                        >{{ option }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>
        
              </div>
              <div class="col-6">
                <div class="INcontratto">
                  <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
                    >Mansione *</mat-label
                  >
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-select
                      formControlName="mansione"
                    >
                      <mat-option
                        [value]="option"
                        *ngFor="let option of mansioni"
                        >{{ option }}</mat-option
                      >
                    </mat-select>
                  </mat-form-field>
                </div>   
              </div>
            </div>
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Data assicurazione*</mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Choose a date</mat-label>
            <input
              [(ngModel)]="form.assicurazione"
              formControlName="assicurazione"
              matInput
              [matDatepicker]="picker4"
            />

            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker4"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
          </div>
        </div>
        <hr />
        <!-- Seconda parte del Form -->
        <div class="row row_2 my-4">
          <div class="col-sm-12 col-md-6">
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Scadenza contratti </mat-label
          >
          </div>
          <div class="col-sm-12 col-md-6">
            <button
              mat-raised-button
              class="m-1 p-3"
              type="button"
              color="primary"
              (click)="editScadenza('add')"
            >
              + Aggiungi scadenza
            </button>
            <button
              mat-raised-button
              type="button"
              class="m-1 p-3"
              color="warn"
              (click)="editScadenza('delete')"
            >
              - Elimina Scadenza
            </button>
          </div>
        </div>
        <div formControlName="contratto" *ngIf="form.contratto !== 'Indeterminato'">
          <div
            *ngFor="let s of scadenze; let i = index"
            class="container row m-1"
          >
            <p class="col-md-3 p-1 mx-2">{{ i + 1 }}° Scadenza</p>
            <input
              [(ngModel)]="form.scadenze_contratto"
              formControlName="scadenze_contratto"
              matInput
              [matDatepicker]="picker4"
            />

            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker4"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </div>
        </div>
        <h3
          *ngIf="form.contratto === 'Indeterminato'"
          class="mx-auto text-center"
        >
          Scadenza non prevista
        </h3>
        <hr />
        <!-- Terza parte del form -->
        <div class="row row_3 mb-4">
          <div class="col-sm-12 col-md-6">
          <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Qualifica *</mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <input
              [(ngModel)]="form.qualifica"
              formControlName="qualifica"
              matInput
            />
          </mat-form-field>
          </div>
          <div class="col-sm-12 col-md-6">
            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
            >Visita Medica*</mat-label
          >
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Scegli una data</mat-label>
            <input
              [(ngModel)]="form.visita_medica"
              formControlName="scadenzaBollo"
              matInput
              [matDatepicker]="picker4"
            />

            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker4"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker4></mat-datepicker>
          </mat-form-field>
          </div>
        </div>
        <hr />
        <!-- Quarta parte del form -->
        <div class="row row_4">
          <div class="container col-12 m-4"></div>
          <h5 for="floatingTextarea2">Note</h5>
          <div class="m-4 col-12">
            <textarea
              class="form-control"
              name="note"
              [(ngModel)]="form.note"
              value="form.note"
              style="height: 100px"
            ></textarea>
          </div>
          <hr class="mx-4" />
        </div>
        <hr />
        <!-- Submit Button -->
        <div class="row mb-4">
          <button
            mat-raised-button
            class="w-75 m-auto"
            type="submit"
            color="primary"
          >
            Crea nuovo operaio
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
  </mat-card>
</app-full>