<mat-card>
  <mat-card-content>
    <!-- input -->
    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Numero</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput [(ngModel)]="numero" />
    </mat-form-field>

    <!-- input -->
    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
      >Stazione appaltante</mat-label
    >
    <mat-form-field appearance="outline" class="w-100">
      <mat-select [(value)]="selectedStazione">
        <mat-option
          [value]="option.value"
          *ngFor="let option of StazioniAppaltanti"
          >{{ option.viewValue }}</mat-option
        >
      </mat-select>
    </mat-form-field>

    <!-- input -->
    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
      >Procedura aperta/ristretta</mat-label
    >
    <mat-form-field appearance="outline" class="w-100">
      <mat-select [(value)]="apertaRistretta">
        <mat-option [value]="option.value" *ngFor="let option of apRis">{{
          option.viewValue
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- input -->

    <mat-form-field appearance="outline" class="w-100">
      <mat-select [(value)]="selectedGareGroup">
        <mat-option [value]="option.value" *ngFor="let option of gareGroup">{{
          option.viewValue
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- input -->

    <mat-form-field appearance="outline" class="w-100">
      <input matInput [(ngModel)]="gareGroup2" />
    </mat-form-field>

    <!-- input -->
    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Note</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <textarea matInput rows="5" [(ngModel)]="note"></textarea>
    </mat-form-field>

    <!-- input -->
    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Importo</mat-label>
    <mat-form-field appearance="outline" class="w-100" color="primary">
      <input matInput [(ngModel)]="importo" />
    </mat-form-field>

    <!-- input -->
    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Scadenza</mat-label>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker2" [(ngModel)]="scadenza" />

      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker2"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>

    <!-- input -->
    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Apertura</mat-label>
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="apertura" />

      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- input -->
    <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block"
      >Criterio Aggiudicazione</mat-label
    >
    <mat-form-field appearance="outline" class="w-100">
      <mat-select [(value)]="selectedCriterio">
        <mat-option
          [value]="option.value"
          *ngFor="let option of criteriAggiudicazione"
          >{{ option.viewValue }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </mat-card-content>
</mat-card>
