<mat-card>
  <mat-card-content class="formDatiGara">
    <!-- input numero -->
    <div class="INnumero">
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8">Numero</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input matInput [(ngModel)]="numero" />
      </mat-form-field>
    </div>

    <!-- input Stazione appaltante -->
    <div class="INstazione">
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8"
        >Stazione appaltante</mat-label
      >
      <mat-form-field appearance="outline" class="w-100">
        <mat-select [(value)]="selectedStazione">
          <mat-option
            [value]="option.value"
            *ngFor="let option of StazioniAppaltanti"
            >{{ option.viewValue }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>

    <!-- input Stato della  procedura -->
    <div class="INprocedura">
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8"
        >Stato della procedura</mat-label
      >
      <mat-form-field appearance="outline" class="w-100">
        <mat-select [(value)]="apertaRistretta">
          <mat-option [value]="option.value" *ngFor="let option of apRis">{{
            option.viewValue
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- input -->
    <!-- <div class="INgaregroup"><mat-form-field appearance="outline" class="w-100">
      <mat-select [(value)]="selectedGareGroup">
        <mat-option [value]="option.value" *ngFor="let option of gareGroup">{{
          option.viewValue
        }}</mat-option>
      </mat-select>
    </mat-form-field></div>
    

    
    <div class="INgaregroup2"><mat-form-field appearance="outline" class="w-100">
      <input matInput [(ngModel)]="gareGroup2" />
    </mat-form-field></div>
     -->

    <!-- input Note -->
    <div class="INnote">
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8">Oggetto</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <textarea matInput rows="5" [(ngModel)]="note"></textarea>
      </mat-form-field>
    </div>

    <!-- input Importo -->
    <div class="INimporto">
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8">Importo</mat-label>
      <mat-form-field appearance="outline" class="w-100" color="primary">
        <input matInput [(ngModel)]="importo" />
      </mat-form-field>
    </div>

    <!-- input Scadenza -->
    <div class="INscadenza">
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8">Scadenza</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker2" [(ngModel)]="scadenza" />

        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- input Apertura -->
    <div class="INapertura">
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8">Apertura</mat-label>
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="apertura" />

        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <!-- input Criterio Aggiudicazione -->
    <div class="INcriterio">
      <mat-label class="mat-subtitle-2 f-w-600 m-b-8"
        >Criterio Aggiudicazione</mat-label
      >
      <mat-form-field appearance="outline" class="w-100">
        <mat-select [(value)]="selectedCriterio">
          <mat-option
            [value]="option.value"
            *ngFor="let option of criteriAggiudicazione"
            >{{ option.viewValue }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>
