@media screen and  (min-width:1200px){
  .formDatiGara{

    display:grid;
    gap:1rem;
    align-content:space-around;

    grid-template-areas:
    "numero       stazione      importo    "
    "procedura     apertura      scadenza  "
    "note           note         criterio  ";

    .INnumero{
        grid-area:numero;
    }

    .INstazione{
        grid-area:stazione;
    }

    .INprocedura{
        grid-area:procedura;
    }

    .INgaregroup{
        grid-area:garegroup;
    }

    .INgaregroup2{
        grid-area:garegroup2;
    }

    .INnote{
        grid-area:note;
    }

    .INimporto{
        grid-area:importo;
    }

    .INscadenza{
        grid-area:scadenza;
    }
    .INapertura{
        grid-area:apertura;
    }

    .INcriterio{
        grid-area:criterio;
    }

    // .INAPscadenza{
    //     grid-area:oraScad;
    // }
    // .INAPApertura{
    //     grid-area:oraApert;
    // }



  }



}

.dateTime {
  width: 100%;
  height: 56px;
  border-radius: 7px ;
  padding:0 16px 0 16px;
  border: 1px solid #838d97 ;
  color: #343a40;
  font-size: 14px;
  &:focus-visible{
    outline: 1px solid #fd7e14;
  }
  &:hover{
    outline: 1px solid black;
  }
}


.input-symbol-euro {
  position: relative;
}

.input-symbol-euro input {
  padding-left: 18px;
}

.input-symbol-euro:before {
  position: absolute;
  top: 16px;
  content: "€";
  left: 5px;
  font-size: 20px;
}
