<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Inserimento nuova gara</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form>
      <!-- input -->
      <mat-checkbox color="primary">Inviata</mat-checkbox>

      <app-dati-nuova-gara></app-dati-nuova-gara>

      <app-categorie></app-categorie>

      <app-ribassi></app-ribassi>
    </form>
  </mat-card-content>
  <button mat-flat-button color="primary">Submit</button>
</mat-card>
