<div class="dynamic_div" fxLayout="row wrap">
  <div fxFlex="100">
    <mat-form-field>
      <input
        matInput
        placeholder="Cerca nell'elenco"
        (change)="searchBarChange()"
        [formControl]="searchField"
        data-lpignore="true"
      />
    </mat-form-field>

    <mat-card class="h-auto card_table">
      <table class="table">
        <tr>
          <th *ngFor="let header of DynTableHeaders" (click)="Order(header)">
            {{ header }}
          </th>
        </tr>
        <tr *ngFor="let item of DynTableBody">
          <td class="icon_btn">
            <button
              mat-mini-fab
              class="rounded-circle  text-accent bg-light-accent"
            >
              <mat-icon>person_outline</mat-icon>
            </button>
          </td>
          <td class="flex-wrap h-100" *ngFor="let key of Looper(item)">
            <p *ngIf="key" class="text-wrap">{{ key }}</p>
            <p *ngIf="key === ''" class="text-wrap">Nessun dato fornito</p>
          </td>
        </tr>
      </table>
  
      <div class="row">
        <div class="col-5 mx-4">
          <button mat-raised-button class="col m-4 btn" color="primary">
            PDF
          </button>
          <button mat-raised-button class="col m-4 btn" color="primary">
            Excell
          </button>
          <button mat-raised-button class="col m-4 btn" color="primary">
            PDF
          </button>
          <button mat-raised-button class="col m-4 btn" color="primary">
            Copy
          </button>
        </div>
        <div class="col-6">
          <mat-paginator
            #paginator
            [length]="totalLength"
            [pageIndex]="pageSubject.value.pageIndex - 1"
            [pageSize]="pageSubject.value.pageSize"
            [pageSizeOptions]="[5, 10, 20]"
            (page)="changePage($event)"
            showFirstLastButtons
            aria-label="Select page"
          >
          </mat-paginator>
        </div>
      </div>
    </mat-card>
  </div>
</div>
