<div class="dynamic_div" fxLayout="row wrap">
  <div fxFlex="100">
    <mat-card class="h-auto w-auto">
      <div class="table-responsive">
        <table class="table mx-4">
          <tr>
            <th *ngFor="let header of DynTableHeaders">
              {{ header }}
            </th>
          </tr>
            <tr *ngFor="let item of DynTableBody">
              <td>
                <mat-icon>home</mat-icon>
              </td>
              <td class='flex-wrap'*ngFor="let key of Looper(item)">
                <p *ngIf="key" class="text-wrap">{{ key }}</p>
              </td>
            </tr>

          </table>

        <!-- Qui c'era *ngIf="isLoading$ | async" -->

        <div class="row">
          <div class="col-5 mx-4">
            <button mat-raised-button class="col m-4 btn" color="primary">
              PDF
            </button>
            <button mat-raised-button class="col m-4 btn" color="primary">
              Excell
            </button>
            <button mat-raised-button class="col m-4 btn" color="primary">
              PDF
            </button>
            <button mat-raised-button class="col m-4 btn" color="primary">
              Copy
            </button>
          </div>
          <div class="col-6">
            <mat-paginator
              #paginator
              [length]="totalLength"
              [pageIndex]="pageSubject.value.pageIndex - 1"
              [pageSize]="pageSubject.value.pageSize"
              [pageSizeOptions]="[5, 10, 20]"
              (page)="changePage($event)"
              showFirstLastButtons
              aria-label="Select page"
            >
            </mat-paginator>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
